html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

/*给左侧导航菜单设置字号大小*/
.el-submenu__title,
.el-menu-item {
  font-size: 13px;
}
/*一级菜单图标右边距*/
i.iconfont {
  margin-right: 14px;
}
/*二级菜单图标右边距*/
.el-menu li i.el-icon-menu {
  margin-right: 10px;
}



.box-card{
  margin-top: 15px;
}
/* 组件的名字  在解析后的HTML代码中是包含一个类这个类就是组件的名称 */
.el-table{
  margin-top: 20px;
}
.el-pagination{
  float: right;
  margin-top: 20px;
  margin-bottom: 20px;
}


.el-step__title {
  font-size: 12px;
}